 <!-- START BREADCRUMB -->
                <ul class="breadcrumb push-down-0">
                    <li><a href="javascript:;" ng-click="changePath('/dashboard')">Home</a></li>
                    <li><a href="javascript:;" style="cursor:text">Schedule</a></li>
                    <li class="active" style="cursor:text">Calendar</li>
                </ul>
                <!-- END BREADCRUMB -->                                                
                
                <!-- START CONTENT FRAME -->
                <div class="content-frame">            
                    <!-- START CONTENT FRAME TOP -->
                    <div class="content-frame-top">                        
                        <div class="page-title">                    
                            <h2><span class="fa fa-calendar"></span> Calendar</h2>
                        </div>  
                        <div class="pull-right">
                            <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
                        </div>                                                                                
                    </div>
                    <!-- END CONTENT FRAME TOP -->
                    <!-- START CONTENT FRAME LEFT -->
                    <div class="content-frame-left">
                        <h4>New Event</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="new-event-text" ng-model="event_text" placeholder="Event text..."/>
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="addEvent(event_text)" id="new-event">Add</button>
                                </div>
                            </div>
                        </div>

                        <h4>External Events</h4>
                        <div class="list-group border-bottom" id="external-events">                                    
                            <!-- <a class="list-group-item external-event">Lorem ipsum dolor</a>
                            <a class="list-group-item external-event">Nam a nisi et nisi</a>
                            <a class="list-group-item external-event">Donec tristique eu</a>
                            <a class="list-group-item external-event">Vestibulum cursus</a>
                            <a class="list-group-item external-event">Etiam euismod</a>                                    
                            <a class="list-group-item external-event">Sed pharetra dolor</a> -->
                        </div>                            
                           
                    
                        <!-- <div class="panel panel-default push-up-10">
                            <div class="panel-body padding-top-0">
                                <h4>Fullcalendar</h4>
                                <p>FullCalendar is a jQuery plugin that provides a full-sized, drag & drop event calendar like the one below. It uses AJAX to fetch events on-the-fly and is easily configured to use your own feed format. It is visually customizable with a rich API.</p>
                            </div>
                        </div> -->
                    </div>
                    <!-- END CONTENT FRAME LEFT -->
                    
                    <!-- START CONTENT FRAME BODY -->
                    <div class="content-frame-body padding-bottom-0">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div id="alert_holder"></div>
                                <div class="calendar">                                
                                    <div id="calendar" data-ng-init="getSchedules()"></div>                            
                                </div>
                            </div>
                        </div>
                        
                    </div>                    
                    <!-- END CONTENT FRAME BODY -->
                </div>               
                <!-- END CONTENT FRAME -->

                <a href="javascript:;" class="btn btn-default modal_calender" style="display:none" newSchedule data-toggle="modal" data-target="#modal_calender">Small</a>

                <div class="modal" id="modal_calender" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header" style="background:white; border-bottom:none;">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="smallModalHead">New Schedule</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        When :
                                    </div>
                                    <div class="col-sm-9">
                                        {{getDateAndTime(newSchedule.start)}}
                                        
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-3">
                                        What :
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="newSchedule.title">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="background:white; border-top:none; text-align:right">
                                <button type="button" ng-click="saveSchedule()" class="btn btn-primary" data-dismiss="modal">Save Schedule</button>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="javascript:;" class="btn btn-default modal_calender_edit" style="display:none" newSchedule data-toggle="modal" data-target="#modal_calender_edit">Small</a>

                <div class="modal" id="modal_calender_edit" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header" style="background:white; border-bottom:none;">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="smallModalHead">Schedule</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        When :
                                    </div>
                                    <div class="col-sm-9">
                                        <span style="cursor:pointer" ng-show="!isEditSchedule" ng-click="editSchedule()">{{getDateAndTime(newSchedule.start)}}</span>
                                        <div class="input-group" ng-show="isEditSchedule">
                                             <input datetimepicker type="text" class="form-control" ng-model="newSchedule.start"/>
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-3">
                                        What :
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <input type="text" ng-if="isEditSchedule" class="form-control" ng-model="newSchedule.title"> 
                                            <span style="cursor:pointer" ng-click="editSchedule();" ng-if="!isEditSchedule">{{newSchedule.title}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="background:white; border-top:none; text-align:right">
                                <a href="javascript:;" ng-if="!isEditSchedule" ng-click="editSchedule()">Edit</a> &nbsp
                                <button type="button" ng-show="isEditSchedule" class="btn btn-danger" data-dismiss="modal" ng-click="deleteSchedule()">Delete</button>
                                <button type="button" ng-click="saveSchedule()" ng-show="isEditSchedule" class="btn btn-primary" data-dismiss="modal">Save Schedule</button>
                            </div>
                        </div>
                    </div>
                </div>        

                <!-- EOF MODALS -->