 <!-- START BREADCRUMB -->
                <ul class="breadcrumb push-down-0">
                    <li><a href="javascript:;" ng-click="changePath('/dashboard')">Home</a></li>
                    <li class="active">Tasks</li>
                </ul>
                <!-- END BREADCRUMB -->                                                
                                
                <!-- START CONTENT FRAME -->
                <div class="content-frame" ng-init="getTasks()" ng-controller="usersController">     
                    <!-- START CONTENT FRAME TOP -->
                    <div class="content-frame-top">                        
                        <div class="page-title">                    
                            <h2><span class="fa fa-edit"></span> Tasks</h2>
                        </div>                                                
                        <div class="pull-right">
                            <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
                        </div>                                
                       <!--  <div class="pull-right" style="width: 100px; margin-right: 5px;">
                            <select class="form-control select">
                                <option>All</option>                                
                                <option>Work</option>
                                <option>Home</option>
                                <option>Friends</option>
                                <option>Closed</option>
                            </select>
                        </div> -->
                    </div>                    
                    <div class="content-frame-left">
                        <div class="form-group">
                            <h4>Add new task:</h4>
                            <form name="new_task" ng-submit="saveTask()">
                                <div class="row">
                                    <div class="form-group">
                                        <textarea class="form-control push-down-10" id="new_task" ng-model="task.description" rows="10" placeholder="Task"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary"><span class="fa fa-edit"></span> Add Task</button>
                                </div>
                            </form>
                        </div>                       
                    </div>       
                    <!-- END CONTENT FRAME TOP -->
                    
                     <!-- START CONTENT FRAME BODY -->
                    <div class="content-frame-body">
                                                
                        <div class="row push-up-10">
                            <div class="col-md-4">
                                <h3>To-do List</h3>
                                <div class="tasks page-scroll-contant-task" customescroll>
                                    <div class="task-item {{t.priority}}" ng-repeat="t in allTasks | filter:{status:0}">
                                        <div class="task-text">{{t.description}}</div>
                                        <div class="task-footer">
                                            <div class="pull-left"><span class="fa fa-clock-o"></span> {{getDateAndTime(t.date)}}</div>
                                            <div class="pull-right">
                                            <a href="javascript:;" data-toggle="modal" data-target="#edittask"><i ng-click="editTask(t)" class="fa fa-2x fa-edit"></i></a>
                                             <i ng-click="updateTask(t, 1)" class="fa fa-2x fa-arrow-circle-o-right"></i></div>
                                        </div>                                    
                                    </div>
                                </div>                            
                            </div>
                            <div class="col-md-4">
                                <h3>In Progress</h3>
                                <div class="tasks page-scroll-contant-task" customescroll>
                                    <div class="task-item {{t.priority}}" ng-repeat="t in allTasks | filter:{status:1}">
                                        <div class="task-text">{{t.description}}</div>
                                        <div class="task-footer">
                                            <div class="pull-left"><span class="fa fa-clock-o"></span> {{getDateAndTime(t.date)}}</div>
                                            <div class="pull-right"><i ng-click="updateTask(t, 0)" class="fa fa-2x fa-arrow-circle-o-left"></i> <i ng-click="updateTask(t, 2)" class="fa fa-2x fa-arrow-circle-o-right"></i></div>
                                        </div>                                    
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <h3>Completed</h3>
                                <div class="tasks page-scroll-contant-task" customescroll>
                                    <div class="task-item {{t.priority}}" ng-repeat="t in allTasks | filter:{status:2}">
                                        <div class="task-text">{{t.description}}</div>
                                        <div class="task-footer">
                                            <div class="pull-left"><span class="fa fa-clock-o"></span> {{getDateAndTime(t.date)}}</div>
                                            <div class="pull-right"><i ng-click="updateTask(t, 1)" class="fa fa-2x fa-arrow-circle-o-left"></i> <i ng-click="updateTask(t, 3)" class="fa fa-2x fa-trash-o"></i></div>
                                        </div>                                    
                                    </div>
                                </div> 
                            </div>
                        </div>                        
                                                
                    </div>
                    <!-- END CONTENT FRAME BODY -->
                    
                </div>
                <!-- END CONTENT FRAME -->

                <div class="modal" id="edittask" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" ng-click="resetTask()" class="close close-task-popup"
                                 data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="smallModalHead">Edit Task</h4>
                            </div>
                            <div class="modal-body">
                                <form name="new_task" ng-submit="updateTask(editedTask, editedTask.status)">
                                    <div class="row">
                                        <div class="form-group">
                                            <textarea class="form-control push-down-10" ng-model="editedTask.description" rows="10" placeholder="Task"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button type="submit" class="btn btn-primary"><span class="fa fa-edit"></span> Save Task</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>        

                <!-- EOF MODALS -->