                <ul class="breadcrumb" data-ng-init="getContactes();getContactCategories();">
                    <li><a href="javascript:;" ng-click="changePath('/dashboard')">Home</a></li>
                    <li><a href="javascript:;" style="cursor:text">Contacts</a></li>
                    <li ng-if="filterBy" class="active">{{filterBy}}</li>
                </ul>
                <!-- END BREADCRUMB -->   
                <!-- START PAGE TITLE -->  
                <div class="page-title">                    
                    <h2><span class="fa fa-users"></span> Contacts > {{filterBy?filterBy:'All'}} <!-- <small>{{categoryWiseContact.length}} contacts</small> --></h2>
                </div>
                <!-- END PAGE TITLE -->   
                
                <div class="panel panel-default tabs usr-contacts">
                    
                    <ul class="nav nav-tabs" role="tablist">
                        <li style="width:100px;" ng-class="{'active': !isEditForm}" ng-click="showList();"><a style="width:100px;" href="#home" data-toggle="tab" role="tab" class="fa fa-list fa-2x"></a></li>
                        <li style="width:150px; padding-left:5px;" ng-repeat="tab in tabs track by $index" id="tab{{$index}}">
                            <a hovereffect style="width:auto;" ng-click="showtab($index);" role="tab" style="text-align:center;" href="#form-edit" data-toggle="tab">
                            <span on-click="$(this).parent.click();">{{tab.title}}</span>
                            <i class="fa fa-times" style="cursor:pointer;float:right;  visibility: hidden;
                               " ng-click="discardContact($index);$event.stopPropagation();"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="panel-body tab-content">
                        <div class="tab-pane" ng-class="{'active': !isEditForm}" id="home">
                            <!-- PAGE CONTENT WRAPPER -->
                            <div class="page-content-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default bgrnd">
                                            <div class="panel-body">
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">
                                                                    <span class="fa fa-search"></span>
                                                                </div>
                                                                <input type="text" class="form-control" ng-model="contactSearch" data-ng-keyup="moreContact(0,contactSearch)" placeholder="Search..."/>  
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-md-2">
                                                            <!-- <button class="btn btn-primary btn-block" ng-click="changePath('/contacts/create')"><span class="fa fa-plus"></span> Add Contact</button> -->
                                                            <div class="btn-group">
                                                                <a href="javascript:;" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="fa fa-plus"></span>Add Contact <span class="caret"></span></a>
                                                                <ul customscroll style="max-height:400px;" class="dropdown-menu" role="menu">
                                                                    <li ng-repeat="category in categories" ng-click="initContactContactCategory(category);newContact();" class="dropdown-header" style="cursor:pointer">{{category.categorie}}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="btn-group">
                                                            <button class="btn btn-default" ng-click="setFilterBy('');getContacts()">
                                                                All
                                                            </button>
                                                            <button class="btn btn-default" ng-repeat="category in categories" ng-click="setFilterBy(category.categorie, category._id);getContacts()">
                                                                {{category.categorie}}'s
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>                                            
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <select ng-select class="form-control select" ng-model="sortBy" data-style="btn btn-default" ng-change="sortContactdata(sortBy)">
                                                <option value="">Sort by</option>
                                                <option value="name.firstname">First Name</option>
                                                <option value="name.lastname">Last Name</option>
                                                <option value="date">Newest</option>
                                                <option value="-date">Oldest</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" ng-if="filterBy=='Client'">
                                        <label class="check"><input type="checkbox" ng-model="isShowProspectiveClient.status" class="icheckbox"/> Prospective Client</label>
                                    </div>
                                    <div class="col-sm-{{filterBy=='Client'?8:10}}">   
                                        <ul class="pagination pagination-sm pull-right" style="float:right">
                                            <li class="{{currentPage>0?'':'disabled'}}"><a href="javascript:;" ng-click="moreContact(currentPage-1)">&laquo;</a></li>
                                            <li class="{{currentPage == $index?'active-page':''}}" ng-repeat="page in getNumber(contactPages) track by $index">
                                            <a href="javascript:;" ng-click="moreContact($index);">{{$index+1}}</a>
                                            </li>
                                            <li class="{{currentPage<contactPages-1?'':'disabled'}}"><a href="javascript:;" ng-click="moreContact(currentPage+1)">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row detl-lst page-scroll-contant-contact" customscroll when-scrolled="loadImages()">
                                <center ng-if="isLoading"><img src="/img/ajax-loader.gif"></center>
                                <h1 style="text-align:center" ng-if="allContactes.length==0 && !isLoading">Sorry, No Contact Found !</h1>
                                <div class="col-md-3" style="min-height:360px;max-height:360;overflow:hidden" ng-click="createNewTab(contact, currentPage);changePath('contactes/list')" ng-repeat="contact in allContactes | filter:contactSearch | filterProspectiveClient:isShowProspectiveClient.status:filterBy | orderBy:sortBy:reverse">
                                        <!-- CONTACT ITEM -->
                                        <div class="panel panel-default contct-detl" style="min-height:360px;max-height:360;overflow:hidden;cursor:pointer">
                                            <div class="panel-body profile" >
                                                <div class="profile-image">
                                                    <img src="{{contact.imageSrc?contact.imageSrc:'/assets/images/users/User_Avatar_Gray.png'}}" alt="{{contact.name.firstname}} {{contact.name.lastname}}"/>
                                                </div>
                                                <div class="profile-data">
                                                    <div class="profile-data-name">{{contact.name.firstname}} {{contact.name.lastname}}</div>
                                                    <div class="profile-data-title">{{contact.company.companyname}}</div>
                                                </div>
                                            </div>                                
                                            <div class="panel-body">                                    
                                                <div class="contact-info">
                                                    <span ng-repeat="phone in contact.phones" ng-if="phone.number;">
                                                    <small ng-if="phone.phonetype=='homephone'">Home Phone :</small>
                                                    <small ng-if="phone.phonetype=='workphone'">Work Phone :</small>
                                                    <small ng-if="phone.phonetype=='ipphone'">Ip Phone :</small>
                                                    <small ng-if="phone.phonetype=='homefax'">Home Fax :</small>
                                                    <small ng-if="phone.phonetype=='workfax'">Work Fax :</small>
                                                    <small ng-if="phone.phonetype=='cellphone'">Cell Phone :</small>
                                                    {{phone.extension?phone.extension+"-":""}}{{phone.number?phone.number:""}}<br></span>
                                                    <span ng-repeat="email in contact.emails track by $index" ng-if="email"> <small>Email : </small>{{email}} </span>
                                                    <br/><span ng-repeat="address in contact.addreses" ng-if="address.addressline1"><small>Address : </small>{{address.addressline1?address.addressline1:""}} , {{address.city?address.city+", ":""}}, {{address.state?address.state+", ":""}}{{address.zip?"-"+address.zip:""}}</span>
                                                    <br><span><small>Contact Type : </small>{{contact.category_id.categorie}}</span>
                                                </div>
                                            </div>                                
                                        </div>
                                        <!-- END CONTACT ITEM -->
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT WRAPPER -->  
                        </div>
                        <div ng-show="isEditForm" ng-class="{'active': isEditForm}" class="tab-pane" id="form-edit">
                            <div class="row" style="border-bottom:2px solid #e8e8e8;font-size:15px; padding-bottom:5px">
                                <div class="col-sm-2">
                                     <div class ="outset">
                                       <a class="cntct-actv cntct contact-dtl" href="javascript:;" onclick="$('#matter-container').css('display','none');$('#contact-container').css('display','block');$('.cntct-actv').removeClass('cntct-actv');$(this).addClass('cntct-actv');">Contact Info</a>
                                     </div>
                                </div>
                                <div class="col-sm-2" ng-show="isEditContact || isMatterShowTab">

                                    <div class ="outset-1" ng-if="openedTabs[contactIndex] != 'new'">
                                       <a class="cntct" ng-if="(matters | matterContactFilter:displayedContactId).length>0" href="javascript:;" onclick="$('#contact-container').css('display','none');$('#matter-container').css('display','block');$('.cntct-actv').removeClass('cntct-actv');$(this).addClass('cntct-actv');">Matters</a>
                                       <a style="cursor:not-allowed;text-decoration:none" ng-if="(matters | matterContactFilter:displayedContactId).length==0" href="javascript:;" activecontacttab>Matter(Not Available)</a>
                                     </div>
                                </div>
                                <div class="col-sm-5">
                                    
                                </div>
                                <div class="col-sm-3">
                                    <button ngConfirmClick class="btn btn-danger" ng-show="isEditContact && openedTabs[contactIndex] != 'new'" ng-click="deleteContact(editFormIndex)">Delete Contact</button>
                                    <button class="btn btn-default" ng-show="isEditContact" ng-click="showList();">Discard</button>
                                    <button class="btn btn-success" savecontactform ng-show="isEditContact">Save</button>                                    
                                    <button class="btn btn-primary" ng-show="!isEditContact" ng-click="setEditMode(true)" onclick="$('#matter-container').css('display','none');$('#contact-container').css('display','block');$('.cntct-actv').removeClass('cntct-actv');$('.contact-dtl).addClass('cntct-actv');">Edit</button>
                                    <!-- <button class="btn btn-primary" ng-if="isEditContact">Save</button> -->
                                </div>
                            </div>
                            <div ui-view></div>                   
                        </div>

                </div>
                <!-- PAGE TITLE -->






                
                