<html>
<body>
	<form enctype="multipart/form-data" method="post" action="/uploadxlsfile">
		<input type="file" name="file" />
		<input type="submit" name="file" value="Submit"/>

	</form>
</body>
</html>