<ul class="breadcrumb push-down-0">
    <li><a href="#">Home</a></li>
    <li><a href="#">Super Admin</a></li>
    <li class="active">Users</li>
</ul>
<!-- END BREADCRUMB -->                                                

<div class="page-title">                    
    <h2><span class="fa fa-users"></span> Users</h2>
</div>

<div class="panel panel-default" data-ng-init="getAdminUsers();">



</div>

<div class="panel panel-default tabs">                            
    <ul role="tablist" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" role="tab" href="#tab-first" aria-expanded="true">First</a></li>
        <li class=""><a data-toggle="tab" role="tab" href="#tab-second" aria-expanded="false">Second</a></li>
        <li class=""><a data-toggle="tab" role="tab" href="#tab-third" aria-expanded="false">Third</a></li>
        <li class=""><a data-toggle="tab" role="tab" href="#tab-fourth" aria-expanded="false">Fourth</a></li>
    </ul>                            
    <div class="panel-body tab-content">
        <div id="tab-first" class="tab-pane active">
            <div class="row">
            	<div>
            		
            	</div>
            </div>
        </div>
        <div id="tab-second" class="tab-pane">
            
        </div>
        <div id="tab-third" class="tab-pane">
            
        </div>
        <div id="tab-fourth" class="tab-pane">
            


        </div>
    </div>
</div>